.white{
    color : black;
    transition: all 0.5s;
}

.dark{
    color : white;
    transition: all 0.5s;
}

.body-white{
    background-color: white;
    transition: all 0.5s;
}

.body-dark{
    background-color: black;
    transition: all 0.5s;
}

.body-white .slider{
  background-color: black;
}
.body-dark input:checked + .slider{
  background-color: white;
}

.body-dark .slider:before{
  background-color: black;
}

.logo{
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.showLogo{
  display: table!important;
  /* transition: all 0.5s; */
}

.hideLogo{
  display: none!important;
  /* transition: all 0.5s; */
}

.text-center{
  text-align: center;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    width: 60px;
    height: 34px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .container{
    display: table;
    margin: auto;
    height: 100%;
    max-width: 1200px;
    position: relative;
    width: 100%;
  }

  .row{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  html, body {
    height: 100%;
  }

  .logo-container{
    position: absolute;
    right: 0;
    padding-top: 15px;
  }

  .center-vertical{
    display: table;
  }

  .center-vertical span{
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
  }

  .container-opt{
    display: inline-block;
    padding: 50px;
    border: solid 1px white;
    transition: all 0.5s;
  }